h1 {
    text-align: center;
}

table {
    width: 100%;
}



.instructions-div {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 30px;
}

.score-column td {
    text-align: right;
}

.total-header {
    width: 10%;
}