h1 {
    text-align: center;
}

table {
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
}

.instructions-div {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.button {
  color: #FF0000;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 0 auto;
}

#form-wrapper {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 30px;
}

#score-column td {
    text-align: right;
    padding-right: 5px;
}

.total-header {
    width: 10%;
}

#score-column {
    height: 50px;
}

#cumulative-score {
    height:50px;
}